@charset "UTF-8";

header {
	color: #29abe2;
	font-weight: bold; 
	text-shadow: 5px 10px #888888;
}

body{
	font-family: sans-serif;
}

/*  webkitはブラウザでCSSの動きをしてくれる機能 */
.type-pers-parent {
  perspective: 150px;
  -webkit-perspective: 150px;
  height: 200px;
  background-color: #222;
  overflow: hidden;
}
.type-pers-child {
  text-align: justify;
  padding: 5%;
  -webkit-animation: typetext linear 15s infinite;
  color: #F1C40F;
  letter-spacing: 1px;
}
 
@-webkit-keyframes typetext {
   0% {transform: rotateX(45deg) translate(0,0);}
  100% {transform: rotateX(45deg) translate(0,-500px);}
}

time {
	color: #666666;
	margin-bottom: 15px;
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

ul {
	list-style-type: none;
	padding: 0;
	color: #666666;
	font-size: 12px;
	<!-- ボックスそのものの位置調整 -->
	justify-content: center;
}


nav {
	display: flex;
}


