.box_1 {
   display: inline-block;
　　　　　　vertical-align: middle;
   color: #FFF;
   width:100px;
   height:100px;
   background-color: red;
}
 
.box_2{
  display: inline-block;
　　　　vertical-align: middle;
  color: #FFF;
  width:100px;
  height:100px;
  background-color: blue;
}
 
.box_3{
　　 display: inline-block;
　　　　vertical-align: middle;
  color: #FFF;
  width:100px;
  height:100px;
  background-color: green;
}