@charset "UTF-8";


/*親要素のPaddingで子要素のマージンは意味なくなる
  blockって難しく考えていたけどPaddingで作ってるだけ

*/


#container{
	text-align: center;
}

.btn{
	background-color: white;
	color: black;
	border: 1px dashed black;
	padding: 10px 40px;
	margin: 50px 0;
	font-weight: 600;
	cursor: pointer;
	transition: all 2s;
}
.btn:hover{
	background-color: black;
	color: white;
}